{% extends 'ElasticSearchManagementBundle::layout.html.twig' %}
{% import 'ElasticSearchManagementBundle::Helpers/form.html.twig' as forms %}

{% block body %}

    <div class="right">
        <a href="#" class="toggle_box" data-box="query_examples">Query Examples</a> |
        <a href="#" class="toggle_box" data-box="query_tool">Show Query Tool</a>
    </div>

    <div class="clear"></div>

    <div id="query_examples" class="hidden">
        <p>Simple example</p>
        <pre>{
                "fields":["nam","dt"],
                "query":{
                        "field":{
                        "nam":"Iron"
                    }
                },
                "from": 2,
                "size": 3
            }
        </pre>
    </div>

    <div id="query_tool" {% if results|length > 0 %}class="hidden" {% endif %}>
        <div class="controls controls-row">
            <form action="query_tool" method="POST">
                <div class="span9">
                    <label>Fields</label>
                    {{ forms.textarea('query', query, 15) }}
                </div>
                <div class="span1">
                    <label>From</label>
                    <input class="input-mini" type="text" name="from" value="{{ from }}">

                    <label>Limit</label>
                    <input class="input-mini" type="text" name="limit" value="{{ limit }}">
                </div>
                <div class="clear"></div>
                <button class="btn btn-primary">Send Query</button>
            </form>
        </div>
    </div>

    {% if results|length > 0 %}

        <h2>Results</h2>

        <div class="pull-right">
            {{ total }} {% if total == 1 %}result {% else %}results{% endif %}
        </div>

        <table class="table">
            <tr>
                {% for field in fields %}
                    <th>{{ field|capitalize }}</th>
                {% endfor %}
            </tr>

            {% for result in results %}
                <tr>
                    {% for field in fields %}
                        <td>
                            {% if result[field] is not null %}
                                {{ result[field] }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No Results</p>
    {% endif %}

{% endblock %}