{% extends 'ElasticSearchManagementBundle::layout.html.twig' %}
{% import 'ElasticSearchManagementBundle::Helpers/form.html.twig' as forms %}

{% block javascripts %}

    {% javascripts '@ElasticSearchManagementBundle/Resources/public/js/query.js' %}

        <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}

{% endblock %}

{% block body %}

    <div class="right">
        <a href="#" class="toggle_box" data-box="query_examples">Query Examples</a> |
        <a href="#" class="toggle_box" data-box="query_tool">Show Query Tool</a>
    </div>

    <div class="clear"></div>

    <div id="query_examples" class="hidden">
        {% include 'ElasticSearchManagementBundle:Query:query_examples.html.twig' %}
    </div>

    <div id="query_tool" {% if results is defined and results|length > 0 %}class="hidden" {% endif %}>
        <div class="controls controls-row">
            <form action="query_tool" method="POST">
                <div class="span9">
                    <label>Query</label>
                    {{ forms.textarea('query', query, 15) }}
                </div>
                <div class="span1">
                    <label>Index</label>
                    {{ forms.select('index_name', index_name, index_filter_options) }}

                    <div id="types_dropdown">
                        {% include 'ElasticSearchManagementBundle:Query:type_dropdown.html.twig' %}
                    </div>

                    <label>From</label>
                    <input class="input-mini" type="text" name="from" value="{{ from|default("") }}">

                    <label>Limit</label>
                    <input class="input-mini" type="text" name="limit" value="{{ limit|default("") }}" placeholder="50">
                </div>
                <div class="clear"></div>
                <button class="btn btn-primary">Send Query</button>
            </form>
        </div>
    </div>

    {% if results is defined and results|length > 0 %}

        <h2>Results</h2>

        <div class="pull-right">
            {{ total }} {% if total == 1 %}result {% else %}results{% endif %}
        </div>

        <table class="table">
            <tr>
                {% for field in fields %}
                    <th>{{ field|capitalize }}</th>
                {% endfor %}
            </tr>

            {% for result in results %}
                <tr>
                    {% for field in fields %}
                        <td>
                            {% if result[field] is not null %}
                                {{ result[field] }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No Results</p>
    {% endif %}

{% endblock %}